
html{
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    background-color: rgb(236, 235, 235);
    color: rgb(2, 2, 2);
    font-family: 'Anek Devanagari', sans-serif;
    margin: 10px auto;
    max-width: 900px;
}


.footer {
    background-color: rgb(0, 117, 126);
    font-family: 'Anek Devanagari', sans-serif;
    color: antiquewhite;
    font-size: 12px;
    text-align: center;
    margin: 20px auto;
    padding: 2%;
    max-width: 800px;
    border-radius: 20px;
}


